<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/dataBind.js"></script>
</head>
<body ng-app="myModule2">

    <div ng-controller="myController2">
        <div>
            <input type="text" ng-model="msg">                                 :{{msg}}
        </div>

        <div>
            <br>
            Type a text: <input type="text" ng-model="newMsg">                 :{{newMsg}}
        </div>

    </div>
</body>
</html>